/* Write your CSS here! */
body {
	background: linear-gradient( -45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
	background-size: 400% 400%;
	animation: gradient 30s ease infinite;
	height: 100%;
    text-align: center;
    font-family: Helvetica, sans-serif;
    color: white;
}

main {
    margin-left: 8px;
    margin-right: 8px;
    display: block;
}
@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}
/* credit for background effect: https://manuel.pinto.dev */

header {
    color: red;
}

.funParagraphs {
    background-color: black;
    color: green;
}

#rock {
    text-align: right;
    padding: 50px;
}

.Pop {
    text-align: left;
    padding: 50px;
}

.country {
    text-align: right;
    padding: 50px;
}

.rap {
    text-align: left;
    padding: 50px;
}